appdirs==1.4.3
asn1crypto==0.24.0
attrs==18.2.0
awscli==1.16.81
black==18.9b0
boto3==1.9.29
botocore==1.12.71
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
Click==7.0
colorama==0.3.9
configparser==3.5.0
cryptography==2.3.1
docutils==0.14
futures==3.1.1
github3.py==1.2.0
idna==2.7
jmespath==0.9.3
jwcrypto==0.5.0
numpy==1.15.4
psycopg2==2.7.5
psycopg2-binary==2.7.6.1
pyasn1==0.4.5
pycparser==2.19
python-dateutil==2.7.3
PyYAML==3.13
requests==2.19.1
rsa==3.4.2
s3transfer==0.1.13
scipy==1.2.0
six==1.11.0
toml==0.10.0
uritemplate==3.0.0
urllib3==1.23
